<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name, :size => 40 %>
  </p>
  <p>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, :size => 40 %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 40 %>
  </p>
  <p>
    <%= f.label :entity_type %><br />
    <%= f.text_field :entity_type %>
  </p>
  <p>
    <%= f.label :entity_title %><br />
    <%= f.text_field :entity_title %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
