<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Entity Type</th>
    <th>Entity Title</th>
    <th>City</th>
    <th>Zip</th>
    <th>State</th>
    <th>Phone</th>
    <th>Image</th>
    <th>Url</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.full_name %></td>
    <td><%=h user.user_name %></td>
    <td><%=h user.email %></td>
    <td><%=h user.entity_type %></td>
    <td><%=h user.entity_title %></td>
    <td><%=h user.city %></td>
    <td><%=h user.zip %></td>
    <td><%=h user.state %></td>
    <td><%=h user.phone %></td>
    <td><%=h user.image %></td>
    <td><%=h user.url %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>

