<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name, :size => 40 %>
  </p>
  <p>
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, :size => 40 %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 40 %>
  </p>
  <p>
    <%= f.label :user_password, 'Password' %><br />
    <%= f.password_field :password, :size => 40 %>
  </p>
  <p>
    <%= f.label :user_password_confirmation, 'Confirm Password' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </p>  
  <p>
    <%= f.label :entity_type %><br />
    <%= f.text_field :entity_type %>
  </p>
  <p>
    <%= f.label :entity_title %><br />
    <%= f.text_field :entity_title, :size => 40 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
