<h1> Welcome <%= @user.user_name %> of <%= @user.entity_title %></h1><br />

<h2>Upcoming Gigs</h2>

You have <%= @gigs.count %> gigs!

<table>
  <tr>
    <th>Band</th>
    <th>Date</th>
  </tr>
      
  <% @gigs.each do |gig| %>
  <tr>
    <td><%= link_to gig.band_title, gig_path(gig) %></td>
    <td><%=h gig.time %></td>
    <td><%= link_to 'Edit', edit_gig_path(gig) %></td>
    <td><%= link_to 'Destroy', gig, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table><br />

<h2>Find new Gigs</h2>
<% form_tag gigs_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ul>
<% @gig_search.each do |gig| %>
  <li>
    <%= link_to gig.band_title, gigs_path %>
  </li>
<% end %>
</ul>  

<%= link_to 'add new', new_gig_path %> | 
<%= link_to 'back', :controller => 'account', :action => 'index' %>

