<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "profile" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "effects.js" %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
     <img src="/images/footer.png" id="footer">
    <div id="whole_page">
      <div>
        <table id="header">
          <tr>
            <td id="logo">
              <a href="/" title="book gigs online"><img src="/images/h-musigigs-logo.jpg" title="Musi Gigs - Book gigs online." border="0"></a>
            </td>
            <td id="flash">
              <% if flash[:notice] -%>
                <div id="notice">
                  <%= flash[:notice] %>                  
                </div>
              <% end -%>    
            </td>
            <td id="nav">
              <span class="links">
                <% if logged_in? -%>
                  <%= nav_link "Hub",  "user", "index" %> |
                  <%= nav_link "Logout",  "user", "logout" %> 
                <% else -%>  
                  <%= nav_link "Register",  "user", "register" %> |
                  <%= nav_link "Login",     "user", "login" %>
                <% end -%>  
              </span>
              <%= nav_link "Home",      "site" %> |
              <%= nav_link "Bands",     "bands" %> |
              <%= nav_link "Venues",    "venues" %> |
              <%= nav_link "Gigs",      "gigs" %> |              
              <%= nav_link "About Us",  "site", "about" %> |
              <%= nav_link "Help",      "site", "help" %>                
            </td>
          </tr>
        </table>
      </div>
      
      <div id="content">
        <%= yield %>      
 <br clear="all" />
<center>
    <div id="f_menu">
      <center>
        <table>
          <tbody><tr>
            <td><h4>ARTISTS / BANDS</h4>
                <ul>
                  <li><a href="/artist-pricing.html">Pricing</a></li>
                  <li><a href="/bands">Band / Artist Settings</a></li>

                  <li><a href="/gigs">Get Gigs</a></li>
                  <li><a href="/gigs/new">Start Gigs</a></li>
                  <li><a href="/a-tour-booking.html">Tour Booking</a></li>
                  <li><a href="/terms-of-service.html">Terms of Service</a></li>
                </ul></td>
            <td><h4>VENUES / PROMOTERS</h4>

                <ul>
                  <li><a href="/venues">Venue Settings</a></li>
                  <li><a href="/gigs/new">Post Gigs</a></li>
                  <li><a href="/bands">Browse Bands</a></li>
                  <li><a href="/">Terms of Service</a></li>
                </ul></td>
            <td><h4>BOOKING AGENTS</h4>

                <ul>
                  <li><a href="/">Pricing</a></li>
                  <li><a href="/">Band Roster</a></li>
                  <li><a href="/">Company Settings</a></li>
                  <li><a href="/">Terms of Service</a></li>
                </ul></td>
            <td><h4>Customer Service</h4>

                <ul>
                  <li><a href="/faq.html">FAQ</a></li>
                  <li><a href="/site/help">Help</a></li>
                  <li><a href="/community">Community</a> <!-- like a hub for artists and venues --></li>
                  <li><a href="/terms-of-service.html">General Terms of Service</a></li>
                  <li><a href="/user">My Account</a></li>

                </ul></td>
          </tr>
        </tbody></table>
        <p> <a href="/partners.html">Partnership Opportunities</a> | <a href="/advertise.html">Advertise at MusiGigs</a> | <a href="/site/help">FAQ</a> | <a href="/site/help">Help</a> | <a href="/sitemap.html">Site Map</a> </p>

      </center>
      <br>
      Copyright <a href="http://www.glintd.com" target="_blank">Glindt Inc.</a> 2009, All rights reserved. </div>
  </center>
      </div>
      
      <% if ENV["RAILS_ENV"] == "development" %>
        <div id="debug">
          <a href="#" onclick="Element.toggle('params_debug_info');return false">
          params</a> |
          <a href="#" onclick="Element.toggle('session_debug_info');return false">
          session</a> |
          <a href="#" onclick="Element.toggle('env_debug_info');return false">
          env</a> |
          <a href="#" onclick="Element.toggle('request_debug_info');return false">
          request</a> 
          <fieldset id="params_debug_info" class="debug_info" style="display:none">
            <legend>params</legend>
            <%= debug(params) %>
          </fieldset>
          <fieldset id="session_debug_info" class="debug_info" style="display:none">
            <legend>session</legend>
            <%= debug(session) %>
          </fieldset>
          <fieldset id="env_debug_info" class="debug_info" style="display: none">
            <legend>env</legend>
            <%= debug(request.env) %>
          </fieldset>
          <fieldset id="request_debug_info" class="debug_info" style="display: none">
            <legend>request</legend>
            <%= debug(request) %>
          </fieldset>
        </div>
      <% end %>
   </div>
  </body>
</html>
